# node
node_modules/
dist/

# env (IGNORE ALL ENV FILES)
.env
.env.local
Backend/.env
rontend/.env
ai-service/.env

# python
__pycache__/
*.pyc

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os
.DS_Store
